header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  background-color: #F5F5F5;
}

header .header-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.name{
  color: #141e32;
  text-align: center;
  font: 700 32px "Roboto", sans-serif;
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-right: auto;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.icon{
  margin-right: 50px;
}

header nav li {
  margin-right: 30px;
}
.Home-1 {
  display: flex;
  justify-content: flex-end;
}

.img-main {
  border-radius: 133px;
  width: 497px;
  height: 377px;
  position: relative;
}

.Home-2{
  background-color: #F5F5F5;
display: flex;
}
.cardGallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: GALL;
  padding-top: 15vh;
  padding-bottom: 2%;
  gap: 20px;
}
#Gal{
  display: flex;
  width: 80%;
  height: 600px;
  gap: 1%;
  flex-wrap: nowrap;
  overflow: scroll;
}

#Gal::-webkit-scrollbar {
  width: 10px; 
}

#Gal::-webkit-scrollbar-track {
  background-color: transparent;
}

#Gal::-webkit-scrollbar-thumb {
  background-color: transparent; 
  border: none; 
}

#Gal img {
  width: 33.33%; 
  height: auto; 
  object-fit: cover; 
}
#Gal img:hover{
  width: 50%; 
  height: auto;
  box-shadow: 0 0 30px #77c3cf;
}
.Gallery-1{
  border-radius: 12px;
width: 497px;
height: 301px;
position: relative;
}
.Gallery-2{
  border-radius: 16px;
width: 374px;
height: 309px;
position: relative;
}

.Gallery-3{
  border-radius: 17px;
width: 386px;
height: 309px;
position: relative;
}

.Home-3{
  background-color: #F5ECD8;
}