body{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 103px 1fr 1fr 1fr 1fr 1fr 290px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  background-color: #F5F5F5;
}

header .header-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.name{
  color: #141e32;
  text-align: center;
  font: 700 32px "Roboto", sans-serif;
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-right: auto;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.icon{
  margin-right: 50px;
}

header nav li {
  margin-right: 30px;
}
.Home-1 {
  display: flex;
  justify-content: flex-end;
}

.img-main {
  border-radius: 133px;
  width: 497px;
  height: 377px;
  position: relative;
}

.Home-2{
  background-color: #F5F5F5;
display: flex;
}
.cardGallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: GALL;
  padding-top: 15vh;
  padding-bottom: 2%;
  gap: 20px;
}
#Gal{
  display: flex;
  width: 100%;
  height: 600px;
  gap: 1%;
  flex-wrap: nowrap;
  overflow: scroll;
}

#Gal::-webkit-scrollbar {
  width: 10px; 
}

#Gal::-webkit-scrollbar-track {
  background-color: transparent;
}

#Gal::-webkit-scrollbar-thumb {
  background-color: transparent; 
  border: none; 
}

#Gal img {
  width: 33.33%; 
  height: auto; 
  object-fit: cover; 
}
#Gal img:hover{
  width: 50%; 
  height: auto;
  box-shadow: 0 0 30px #77c3cf;
}
.Gallery-1{
  border-radius: 12px;
width: 497px;
height: 301px;
position: relative;
}
.Gallery-2{
  border-radius: 16px;
width: 374px;
height: 309px;
position: relative;
}

.Gallery-3{
  border-radius: 17px;
width: 386px;
height: 309px;
position: relative;
}

.Home-3{
  background-color: #F5ECD8;
}

.Home-4{
  background-color: #141e32;
}

.item-events{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: GALL;
  padding-top: 15vh;
  padding-bottom: 2%;
  gap: 20px;
}

.item-events img{
  width: 200px;
  height: 200px;
  border-radius: 12px;
}



















footer{
  background-color: #393E46;
  padding: 50px 90px;
  color: #FFF;
}

.footer-contenido{
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 4fr 2fr;
  grid-gap: 5%;

  grid-template-columns: 1fr;
}

 .Tit1 i{
  margin-top: 20px;

  display: inline-block;
  display: grid;
  grid-template-columns: repeat(4, 30px);
}


 .icon {
  margin-top: 20px;
 display: grid;
 grid-template-columns: repeat(3,40px);
}

.icon-logo{
  display: grid;
  grid-column: 1/2;
}

.Tit1{
  display: grid;
  grid-column: 2/3;
}

.Tit2{
  display: grid;
  grid-column: 3/4;
  margin-left: 200px;
} 

.correo2{
  display: grid;
  grid-row: 4/5;
}

 .Tit3{
  display: grid;
  grid-column: 4/5;    
}

.des2{
  display: grid;
  grid-row: 4/5;
}

.sub{
  margin-top: 30px;

  display: grid;
  grid-row: 2/3;
  grid-column: 1/2;
}