body {
  margin: 0;
  padding: 0;

}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  background-color: #F5F5F5;
}

header .header-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}

header nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-right: auto;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.icon {
  margin-right: 50px;
}

header nav li {
  margin-right: 30px;
}

/* Home 1*/
.Home-1 {
  display: flex;
  justify-content: flex-end;
  height: 540px;
  background-color: #F5ECD8;
}
.texthome1{
  display: flex;
  flex-direction: column;
  padding-right: 600px;
  padding-top: 10px;
  height: 80px;
}

.img-main {
  border-radius: 133px;
  width: 485px;
  height: 406px;
  position: relative;
}

/* Home 2*/
.Home-2{
  background-color: #F5F5F5;
  display: flex;
  height: 570px;
  
}
.card{

  width: 254px;
  height: 250px;
  border-radius: 10px;
  text-align: center;
  background: #C5AF87;
  

}
.cardshome2{

  display: flex;
  flex-direction: row ;
  align-items: flex-end;
  
  
}
.card-information{

  display: flex;
  flex-direction: column;
  height: 188px;


}


/* Home 3 */

home-3 {}

.cardGallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: GALL;
  padding-top: 15vh;
  padding-bottom: 2%;
  gap: 20px;
}

#Gal {
  display: flex;
  width: 100%;
  height: 600px;
  gap: 1%;
  flex-wrap: nowrap;
  overflow: scroll;
}

#Gal::-webkit-scrollbar {
  width: 10px;
}

#Gal::-webkit-scrollbar-track {
  background-color: transparent;
}

#Gal::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
}

#Gal img {
  width: 33.33%;
  height: auto;
  object-fit: cover;
}

#Gal img:hover {
  width: 50%;
  height: auto;
  box-shadow: 0 0 30px #77c3cf;
}

.Gallery-1 {
  border-radius: 12px;
  width: 497px;
  height: 301px;
  position: relative;
}

.Gallery-2 {
  border-radius: 16px;
  width: 374px;
  height: 309px;
  position: relative;
}

.Gallery-3 {
  border-radius: 17px;
  width: 386px;
  height: 309px;
  position: relative;
}

/* Home 3 */
.Home-3 {
  background-color: #F5ECD8;
}

/* Home 4*/

.Home-4 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.events-cards {
  padding: 2%;
  display: grid;
  width: 60%;
  row-gap: 10px;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row dense;
}

.item-events {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.item-events img {
  width: 100%;
  height: 80%;
  border-radius: 12px;
}

.item-events h3 {
  color: #141E32;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-info-events {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 200px;
  padding: 20px;
}

.card-info-events h1 {
  color: #C3AB81;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-info-events h2 {
  color: #141E32;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-info-events p {
  color: #969696;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*Home 5*/
.home-5 {
  
}

#formulario {
  padding: 20px;
  display: inline-block;
  flex-direction: column;
}

#boton-continuar {
  padding: 9px;
  margin-left: 900px;
  border: burlywood;
  background-color: burlywood;
  color: azure;
}

/* Footer*/
footer {
  background-color: #393E46;
  padding: 50px 90px;
  color: #FFF;
}

.footer-contenido {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 4fr 2fr;
  grid-gap: 5%;

  grid-template-columns: 1fr;
}

.Tit1 i {
  margin-top: 20px;

  display: inline-block;
  display: grid;
  grid-template-columns: repeat(4, 30px);
}


.icon {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 40px);
}

.icon-logo {
  display: grid;
  grid-column: 1/2;
}

.Tit1 {
  display: grid;
  grid-column: 2/3;
}

.Tit2 {
  display: grid;
  grid-column: 3/4;
  margin-left: 200px;
}

.correo2 {
  display: grid;
  grid-row: 4/5;
}

.Tit3 {
  display: grid;
  grid-column: 4/5;
}

.des2 {
  display: grid;
  grid-row: 4/5;
}

.sub {
  margin-top: 30px;

  display: grid;
  grid-row: 2/3;
  grid-column: 1/2;
}