header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  background-color: #F5F5F5;
}

header .header-info {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.name{
  color: #141e32;
  text-align: center;
  font: 700 32px "Roboto", sans-serif;
  position: relative;
}
header nav {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-right: auto;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.icon{
  margin-right: 50px;
}

header nav li {
  margin-right: 30px;
}
.Home-1 {
  display: flex;
  justify-content: flex-end;
}

.img-main {
  border-radius: 133px;
  width: 497px;
  height: 377px;
  position: relative;
}

.Home-2{
  background-color: #F5F5F5;
display: flex;
}
.Gallery-1{
  border-radius: 12px;
width: 497px;
height: 301px;
position: relative;
}
.Gallery-2{
  border-radius: 16px;
width: 374px;
height: 309px;
position: relative;
}

.Gallery-3{
  border-radius: 17px;
width: 386px;
height: 309px;
position: relative;
}

.Home-3{
  background-color: #F5ECD8;
}